<?xml version="1.0" encoding="utf-8"?>

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.viktorreiser.bansheeremote"
	android:versionName="5.1.1"
	android:versionCode="24">

	<uses-sdk android:minSdkVersion="4" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:icon="@drawable/banshee_icon"
		android:name=".data.App"
		android:label="Banshee Remote">

		<activity
			android:name=".activity.CurrentSongActivity"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.NewOrEditServerActivity"
			android:windowSoftInputMode="adjustResize"
			android:theme="@android:style/Theme.NoTitleBar" />
		
		<activity
			android:name=".activity.ArtistActivity"
			android:windowSoftInputMode="adjustResize"
			android:theme="@android:style/Theme.NoTitleBar" />
		
		<activity
			android:name=".activity.AlbumActivity"
			android:windowSoftInputMode="adjustResize"
			android:theme="@android:style/Theme.NoTitleBar" />

		<activity
			android:name=".activity.TrackActivity"
			android:windowSoftInputMode="adjustResize"
			android:theme="@android:style/Theme.NoTitleBar" />
		
		<activity
			android:name=".activity.PlaylistActivity"
			android:windowSoftInputMode="adjustResize"
			android:theme="@android:style/Theme.NoTitleBar" />
		
		<activity
			android:name=".activity.PlaylistOverviewActivity"
			android:windowSoftInputMode="adjustResize"
			android:theme="@android:style/Theme.NoTitleBar" />

		<activity
			android:name=".activity.ServerListActivity"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity
			android:name=".activity.SettingsActivity"
			android:theme="@android:style/Theme.NoTitleBar" />

		<receiver android:name="de.viktorreiser.toolbox.content.NetworkStateBroadcast">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
			</intent-filter>
		</receiver>

	</application>

</manifest> 